.dotted-hr {
    border-style: none;
    border-top-style: dotted;
    border-color: blue;
    border-width: 20px;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .centerTXT {
    text-align: center;
    border: none;
  }





