.dotted-hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #007bff;
    border-width: 20px;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.centerTXT {
    text-align: center;
    border: none;
  }

.projectPlaceholderTXT {
    text-align:right;
    margin-top: 130px;
    margin-bottom: 50px;
}

.spaceTXT {
    word-spacing: 50px;
}

.floatLeft {
    border-color: black;
    border-style: solid;
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .floatRight {
    float: right;
    margin-top: 20px;
    margin-bottom: 0px;
  }

.alignTXTLeft {
    text-align: left;
    margin-top: 150px;
    margin-bottom: 50px;
}








